version: '3.8'
services:
  dev-db-whatsapp-clone:
    image: postgres:13
    restart: unless-stopped
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    networks:
      - freecodecamp
  test-db-whatsapp-clone:
    image: postgres:13
    restart: unless-stopped
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    networks:
      - freecodecamp
networks:
  freecodecamp: